Box Model Hack
* {
    box-sizing: border-box;
}

/* Clear fix hack */
/* .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
} */

/******************************************
/* BASE STYLES (BORDERS INITIALIZED DURING DEV)
/*******************************************/
*{
    /* border: .3px solid blue; */
    /* font: 1.2rem/1.5rem "Bebas Neue", Roboto, sans-serif; */
}

html {
    font-size: 62.5%;
}

*::-webkit-scrollbar {
    display: none;
}

h1 {
    width: 30%;
    text-align: left;
    margin: 7px;
    padding: 0;
    font: 5rem/5rem "Bebas Neue", Roboto, sans-serif;
}

h2 {
    width: 60%;
    margin: 0;
    padding: 0;
    text-align: center;
    font: 4rem/4rem "Bebas Neue", Roboto, sans-serif;
}

h3 {
    width: 60%;
    margin: 0;
    padding: 0;
    font: 3rem/1.5rem "Bebas Neue", Roboto, sans-serif;
}

.btn {
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #8F9586;
    color: #fff;
    height: 35px;
    width: 60px;
}

.btn:hover {
    transition: background-color .3s ease-in-out;
    background-color: #FF702A;
    cursor: pointer;
}


.sectionBloc {
    width: 100%;
    margin: 0;
    /* border: 1px solid pink */
}

p{
    width: 48%;
    font: 1.2rem/1.5rem Roboto, sans-serif;
}

.descriptPara{
    width: 80%;
    font: 1.7rem/2.5rem Roboto, sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    text-align: center;
    width: 20%;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-family: Roboto;
}

.APH{
    display: flex;
    flex-flow: row wrap;
    place-content: center;
}

.flexColCenter{
    display: flex;
    flex-flow: column wrap;
    place-content: center;
}

.centeredTxt{
    text-align: center;
}

.closed {
    display: none;
    visibility: hidden;
}


/******************************************
/* HEADER
/*******************************************/
header {
    color: #fff;
    display: flex;
    place-content: center space-around;
    height: 75px;
    width: 100%;
    background: #272C29;
    position: fixed;
    top: 0;
}

#header *{
    border: none;
}


#headerLogoSpacedContainer{
    display: flex;
    flex-flow: row wrap;
    place-content: center flex-start;
    width: 42%;
}

#headerLogoBox{
    width: 50%;
    height: 100%;
}
#headerLogoBox img{
    height: 75px;
    padding: 0;
    margin-left: 20px;
}

#headerNav{
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    width: 42%;
    margin: 0;
}


header ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    margin: 0;
    padding: 0;
    transition: box-shadow;
    box-shadow: none;
}
header li:hover{
    transition: box-shadow .3s ease-in-out, background .5s ease-in-out;
    background: #3B443F;
    box-shadow: inset 0 10px 5px rgba(25, 25, 25, .45);

}

header li{
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    height: 100%;
    border-left: 1px solid #000;
}

header li:last-child{
    border-right: 1px solid #000;
}

header h2{
    font: 2.5rem/1.5rem "Bebas Neue", Roboto, sans-serif;

}

#headerSocials{
    display:flex;
    flex-flow: row wrap;
    place-content: center space-around;
    width: 15%;
}

#headerSocials a{
    width: 18%;
    height: 40%;
    font-size: 2rem;
    display: flex;
    flex-flow: center;
    place-content: center;
}


#headerX{
    position: fixed;
    top: 35px;
    left: 72px;
    
}

.burger.btn{
    background: transparent;
}


@keyframes appear {
    0%{
        top: 0;
        right: 0;
    }
    100%{
        top: 75px;
        right: 0px;
    }
}



#menu.closed {
    width: 430px;
    height: 930px;
    background: url('rdm-cln-menu-bg.png') 0 0 no-repeat;
    position: fixed;
    top: -75px;
}

#menu{
    width: 430px;
    height: 930px;
    /* background: url('rdm-cln-menu-bg.png') 0 0 no-repeat; */
    background: #272C29;
    opacity: .9;
    position: fixed;
    animation-name: appear;
    /* transition: top .5s ease-in-out; */
    top: 75px;
    left: 0px;
}

#menu nav a{
    font: 2.5rem/5rem "Bebas Neue", Roboto, sans-serif;
}



/******************************************
/* HEADER Mobile Rules
/*******************************************/

/* @media all and (max-width: 430px){

    header {
        display: flex;
        place-content: center space-around;
        position: static;
        width: 100%;
    }

    .notMobile{
        display: none;
        visibility: hidden;
    }
} */



/******************************************
/* SECTION-SPLASH
/*******************************************/
#sectionSplash{
    display: flex;
    flex-flow: row wrap;
    color: #fff;
    /* place-content: flex-end; */
    height: 500px;
    background: url("cleancloset1.png") 0 0 no-repeat;
    background-size: cover;
}

#sectionSplash *{
    border: none;
}

#splashDescription {
    display: flex;
    flex-flow: column wrap;
    place-content: flex-start center;
    /* align-items: center; */
    background: url("rdmrcln-splsh-overlay-mobile.png") 0 100% no-repeat;
    background-size: cover;
    width: 100%;
}

#splashDescription p{
    margin: 7px;
    text-align: left;
    font: 1.4rem/1.7rem Roboto, sans-serif;
}



/******************************************
/* SPLASH Mobile Rules
/*******************************************/

/* @media all and (max-width: 430px){
    #sectionSplash{
        display: flex;
        flex-flow: row wrap;
        color: #fff;
        place-content: flex-end;
        height: 100%;
        background: url("cleancloset1.png") 0 0 no-repeat;
        background-size: cover;
    }

    #splashDescription {
        display: flex;
        flex-flow: column wrap;
        place-content: flex-end center;
        background: url("rdmrcln-splsh-overlay2.png") 0 0 no-repeat;
        background-size: cover;
        height: 80%;
        width: 40%;
    }
} */



/******************************************
/* SECTION-SERVICES
/*******************************************/
#sectionServices{
    /* display: flex;
    flex-flow: row wrap;
    place-content: center space-evenly; */
    height: 100%;
}

#serviceDescription{
    /* display: flex;
    flex-flow: column wrap;
    place-content: center; */
    /* position: static; */
}


.scrollContainer{
    padding: 10px 7px 0px 7px;
    height: 450px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    background: #fff;
    margin-bottom: 20px;
    /* position: relative; */
    /* top: 585px; */
    /* left: 0;  */
}

#serviceCards{
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    width: 100%;
    /* border-left: 1px solid indianred; */
    background: #585B4C;
    /* padding: 40px; */
}

#service4{
    margin-bottom: 0;
    box-shadow: none;
}


#service1{
    /* margin-top:1950px; */
}


.card{
    background: #366067;
    margin: 5px 0;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    place-content: center space-around;
    width: 100%;
    scroll-snap-align: center;
    color: #fff;
    box-shadow: 0px 5px 5px #272C29;
}

.card img{
    margin: 1rem;
    max-width: 90%
}

.card p{
    width: 90%;
    text-align: center;
    font: 1.4rem/2.5rem Roboto, sans-serif;
}



/******************************************
/* SECTION-SERVICES TABLET (PORTRAIT) SETTINGS
/*******************************************/

@media screen and (min-width:768px) {
    /* #one {
        justify-content: flex-start;
    }
    
    #one .gallery {
        height: 65%;
        width: 85%;
    }

    #one #abtUsTablet {
        display: flex;
        visibility: visible;
        flex-flow: column nowrap;
        align-items: center;
    }

    #abtUsTablet h3 {
        display: flex;
        color: rgb(234,37,76);
        background-color: rgb(253,255,255);
        height: 36px;
        width: 50%;
        flex-flow: row wrap;
        place-content: center;
        margin: 1.7% 0;    
    }

    #abtUsTablet p {
        width: 65%;
        font: 1.3rem/1.5rem "Courgette", Helvetica, sans-serif;
        margin: 0;
        text-align: center;
    }

    .scrollSection .card {
        height: 575px;
        width: 450px;
        object-fit: cover;
        align-self: center;
    } */
}

/******************************************
/* SECTION-SERVICES TABLET (LANDSCAPE) SETTINGS
/*******************************************/
@media all and (min-width:875px){
    /* #body {
        height: 100vh;
    }

    #one {
        width: 345px;
    }

    #one h1 {
        margin-top: 509px;
        font-size: 2.5rem;
    }

    #one #gallery {
        width: 25%;
        height: 70%;
        position: absolute;
        top: 0;
        left: 50px;
        margin-top: 0;
        padding: 0;
        box-shadow: 0 4px 5px rgba(0, 0, 0, .6);
    }

    .scrollSection {
        width: 100%;
    }

    #gallery .scrollSection .card {
        height: 100%;
        width: 100%;
    }

    #abtUsTablet p {
        font-size: 1.2rem;
        width: 80%;
    }

    #abtUsTablet h3 {
        font-size: 1.7rem;
        width: 65%;
        height: 30px;
    } */
}

/******************************************
/* SECTION-SERVICES TABLET SETTINGS - FULLSCREEN
/*******************************************/
@media all and (min-width:1100px){
    /* #trueBody #one h1.menuCategory {
        margin-top: 600px;
    }
    }

    @media screen and (min-width:1330px) {
    #one {
        margin-left: 45px;
    } */
}

/******************************************
/* SECTION-SERVICES 
/*******************************************/
@media screen and (max-width:874px){
    /* #two {
    display: none;
    visibility: hidden;
    }  */
}

@media screen and (min-width:875px){
    /* #body #two {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 310px;
    width: 700px;
    background-color: rgba(255,255,255,1);
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, .6);
    }

    #two .testimonials.fullscreen {
    height: 100%;
    width: 100%;
    padding: .8rem;
    display: flex;
    flex-flow: column wrap;
    place-content: flex-end flex-start;
    }

    .testimonials.fullscreen h2 {
    width: 50%;
    text-align: left;
    }

    .testimonials.fullscreen .customerCards {
    width: 95%;
    display: flex;
    height: 230px;
    overflow: scroll;
    scrollbar-width: none;
    }

    #two .scroller {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    }

    .customerCards .reviews {
    height: 100%;
    width: 33%;
    margin: 0 2%;
    object-fit: cover;
    border: .8px solid rgba(0,0,0,.8);
    background-color: rgba(255,255,255,1);
    } */
}


/******************************************
/* SECTION-SERVICES - FULLSCREEN
/*******************************************/

@media all and (min-width:1330px) {
    /* #body #two {
    width: 1150px;
    } */
}


/******************************************
/* SECTION-ABOUT
/*******************************************/
#sectionAbout{
    /* display: flex;
    justify-content: space-evenly; */
    height: 100%;
    background: #BABCB0;
}

#aboutDescription{
    width: 80%;
    align-self: center;
}

#aboutDescription h2{
    align-self: center;
}

#ownerPhoto{
    width: 95%;
    height: auto;
    margin: 15px 0;
    /* border-left: 1px solid indianred; */
}


@media screen and (max-width:874px){
    /* #three {
    display: none;
    visibility: hidden;
    }  */
}

@media screen and (min-width:875px){
    /* #body #three {
    position: fixed;
    right: 0;
    bottom: 320px;
    margin: 0;
    height: 280px;
    width: 645px;
    background-color: rgba(255,255,255,1);
    background-color: transparent;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .6);
    } */
 
    /* #three .featureCard {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    }

    .featureCard p {
    font: 1.5rem/1.7rem "Julius Sans One", Helvetica, sans-serif;
    width: 60%;
    margin-top: 50px;
    color: white;
    }

    .featureCard strong {
    font-weight: 400;
    font-size: 2.5rem;
    }

    #chefHeader {
    height: 12%;
    width: 25%;
    text-align: center;
    background-color: white;
    margin-left: 2%;
    } */
 
}


/******************************************
/* SECTION-ABOUT - FULLSCREEN
/*******************************************/   
@media screen and (min-width:1330px) {
    /* #body #three {
    width: 1120px;
    height: 430px;
    }

    #three #chefHeader {
    height: 8%;
    }

    #one #menuCategory {
    margin-top: 600px;
    } */
}


/******************************************
/* SECTION-GALLERY
/*******************************************/
#sectionGallery{
    display: flex;
    flex-flow: column wrap;
    place-content: center space-around;
    height: 100%;
}

#galryPH{
    height: 450px;
    width: 95%;
}
.PH{
    height: 6%;
    /* align-self: center; */
}



/******************************************
/* SECTION-REVIEWS
/*******************************************/

#sectionReviews{
    display: flex;
    flex-flow: column wrap;
    place-content: center space-around;
    height: 100%;
    background: #BABCB0;
}

#revCards{
    background: #585B4C;
    /* height: 92%; */
    width: 100%;
}

.custRev{
    padding-bottom: 10px;
}

.custRev p{
    margin: 30px 0px 8px 0px;
    padding: 10px;
    text-align: center;
    font: 3rem/3.5rem "Nothing You Could Do", sans-serif;
    width: 90%;
}

.custRev span{
    text-align: center;
    font: 1.9rem/1.8rem Roboto, sans-serif;
    width: 60%;
    align-self: flex-end;
}


#sectionReviews .scrollContainer{
    height: auto;
    background:#BABCB0; 
}

/******************************************
/* SECTION-CONTACT
/*******************************************/
#sectionContact{
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    height: auto;
}

#contactForm{
    width: 100%;
    padding: 15px 10px 0px 10px;
    margin-bottom: 20px;
}

#contactForm .btn{
    
}

form{
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* height: 100%; */
}

form button{
    align-self: center;
}

label {
    font: 3rem/3rem Roboto, sans-serif;
    margin: 10px 0px;
    display: block;
}

textarea{
    width: 100%;
    border: .5px solid black;
    outline: none;
    margin: 8px 0;
}

input{
    /* height: 20px; */
    width: 100%;
    /* margin: 0 20px;  */
    /* overflow: hidden; */
    border: none;
    border-bottom: 1.5px solid black;
    outline: none;
    padding: 8px 0px;
    /* border-top: none; */
    /* border-left: none; */
    /* border-right: none; */
}

.inputRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 28%;

}

.inputGroup{
    flex-basis: 45%;
}

#contactDescription{
    width: 35%;
    height: 100%;
}

#contactDescription h2{
    width: 100%;
}



/******************************************
/* FOOTER
/*******************************************/
footer {
    display: flex;
    justify-content: space-around;
    height: 300px;
    background: #272C29;  
    color: #fff;
    /* width: 100%; */
    position: relative;
    bottom: 0;
}

.ftrBox{
    width: 30%;
}

#ftrAbt .descriptPara{
    font: 1.9rem/1.9rem Roboto, sans-serif;
}

#ftrLinkList{
    
}

#ftrLinkList ul, li{
    /* text-align: left; */
    width: 100%;
}

#ftrLinkList a{
    font: 2rem/2.5rem Roboto, sans-serif;
}

/******************************************
/* QUERIES
/*******************************************/

@media all and (max-width: 430px){
    #mobileLayout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: minmax(75px,max-content);
    }
}
